In [35]:
import pandas as pd
from selenium import webdriver

In [36]:
Names=[]
Prices=[]

In [37]:
url="https://www.daraz.pk/smartphones"

In [38]:
driver = webdriver.Chrome(
    "C:/Users/OwaisGondal/Downloads/Compressed/chromedriver_win32/chromedriver.exe"
)

In [39]:
driver.get(url)

In [40]:
for i in range(2,9):
    page=driver.find_element_by_xpath('//*[@id="root"]/div/div[3]/div[1]/div/div[1]/div[3]/div/ul/li['+str(i)+"]/a")
    driver.get(page.get_attribute("href"))
    for j in range(1,40):
        Name=driver.find_element_by_xpath(
        '//*[@id="root"]/div/div[3]/div[1]/div/div[1]/div[2]/div['
        + str(j)
        + "]/div/div/div[2]/div[2]/a"
    )
        Price=driver.find_element_by_xpath(
        '//*[@id="root"]/div/div[3]/div[1]/div/div[1]/div[2]/div['
        + str(j)
        + "]/div/div/div[2]/div[3]/span"
    )
        Names.append(Name.text)
        Prices.append(Price.text)

In [41]:
len(Names)

273

In [42]:
len(Prices)

273

In [43]:
# Names

In [44]:
# driver.back()

In [46]:
df=pd.DataFrame(list(zip(Names,Prices)),columns=["Name","Price"])

In [47]:
df

                                                  Name       Price
0    Samsung M31s - 6.5" Infinity O Display - 64MP ...  Rs. 46,499
1    Redmi Note 10 (4GB+128GB) - 48MP Quad camera -...  Rs. 31,999
2    POCO X3 Pro 6+128GB - 6.67" IPS Display - 48MP...  Rs. 41,999
3    Samsung M51 - 6.7" sAMOLED Plus Display - 64MP...  Rs. 58,999
4    QMobile GLi 2020 - 4" Display, 1.3 GHz Quad Co...   Rs. 4,699
..                                                 ...         ...
268  vivo Y51s - 8GB - 128GB - 48MP Rear Camera - 5...  Rs. 36,999
269  Vivo - V20 - 8GB RAM - 44MP Front Camera - SDM...  Rs. 54,999
270  Itel Vision 1 Pro - 6.5" Inch Display - 2GB RA...  Rs. 12,148
271  Samsung Galaxy A02s 6.5 Inch 4 GB RAM 64 GB RO...  Rs. 22,195
272  Xiaomi Redmi 9T - 6.53" Inch Display - 6GB RAM...  Rs. 28,490

[273 rows x 2 columns]

In [48]:
df.sort_values(["Name","Price"],inplace=True)

In [49]:
df

                                                  Name        Price
183                    216 Dual Sim - 2.4'' - 16MB RAM    Rs. 5,598
186              Apple iPhone 12 - 64GB - PTA Approved  Rs. 215,000
20   ELEPHONE A6 Mini 4GB - 32GB - 5.71 - Finger Print   Rs. 12,999
192  Elephone A6 Max - 6.53" IPS Display - 4GB RAM ...   Rs. 14,999
231  Elephone U2 - 6.26 FHD+ Display - 6GB RAM - 12...   Rs. 29,999
..                                                 ...          ...
37   vivo Y20s - 4GB - 128GB - 5000 mAh - Side Fing...   Rs. 29,999
132  vivo Y31 - 4GB - 128GB - 5000mAh - 48MP Rear C...   Rs. 34,999
265  vivo Y51s - 8GB - 128GB - 48MP Rear Camera - 5...   Rs. 36,999
268  vivo Y51s - 8GB - 128GB - 48MP Rear Camera - 5...   Rs. 36,999
52   vivo Y51s - 8GB - 128GB - 48MP Rear Camera - 5...   Rs. 39,999

[273 rows x 2 columns]

In [50]:
df.reset_index(0,inplace=True)

In [51]:
df

     index                                               Name        Price
0      183                    216 Dual Sim - 2.4'' - 16MB RAM    Rs. 5,598
1      186              Apple iPhone 12 - 64GB - PTA Approved  Rs. 215,000
2       20  ELEPHONE A6 Mini 4GB - 32GB - 5.71 - Finger Print   Rs. 12,999
3      192  Elephone A6 Max - 6.53" IPS Display - 4GB RAM ...   Rs. 14,999
4      231  Elephone U2 - 6.26 FHD+ Display - 6GB RAM - 12...   Rs. 29,999
..     ...                                                ...          ...
268     37  vivo Y20s - 4GB - 128GB - 5000 mAh - Side Fing...   Rs. 29,999
269    132  vivo Y31 - 4GB - 128GB - 5000mAh - 48MP Rear C...   Rs. 34,999
270    265  vivo Y51s - 8GB - 128GB - 48MP Rear Camera - 5...   Rs. 36,999
271    268  vivo Y51s - 8GB - 128GB - 48MP Rear Camera - 5...   Rs. 36,999
272     52  vivo Y51s - 8GB - 128GB - 48MP Rear Camera - 5...   Rs. 39,999

[273 rows x 3 columns]

In [ ]:
driver.close()